.row-masonic {
  margin: 0;

  > [class^="col-"],
  > [class*=" col-"] {
    padding: 0;

    &:not(:first-child) {
      margin-left: -1px;
    }

    > .row-masonic {
      &:not(:first-child) {
        margin-top: -1px;
      }
    }
  }
}
